<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../../css/bootstrap.css">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form class="container w-25 py-5">
    <div class="form-group">
        <label for="ieUsername">Username</label>
        <input type="email" class="form-control" id="ieUsername" aria-describedby="emailHelp"
               placeholder="Desired username">
    </div>

    <div class="form-group">
        <label for="ieDisplayname">Display name</label>
        <input type="email" class="form-control" id="ieDisplayname" aria-describedby="emailHelp"
               placeholder="Desired display name">
        <small class="bg-dark form-text text-warning">This is the name displayed on reviews. NOT username.</small>
    </div>

    <div class="form-group">
        <label for="iePassword1">Password</label>
        <input type="password" class="form-control" id="iePassword1" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="iePassword2">Confirm password</label>
        <input type="password" class="form-control" id="iePassword2" placeholder="Confirm password">
    </div>

    <div class="mb-3"></div>

    <a href="home.html" type="button" class="btn btn-primary">Register</a>
</form>
</body>
</html>